:root {
    --primary-color: #606977;
    --text-color: #202124;
}

body {
    color: var(--text-color);
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.default {
    padding: 80px 0;
}

.default .title {
    max-width: 1170px;
    margin: 0 auto;
    margin-bottom: 32px;
}

.default .title h2 {
    font-size: 32px;
    font-weight: 600;
}

.default .title .desc {
    display: flex;
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
}