.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid rgb(225, 225, 225, 0.25);

}

.header.on {
    background: #fff;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.header .header_wrap {
    display: flex;
    align-items: center;
    max-width: 1170px;
    margin: 0 auto;

    height: 103px;

    transition: 0.4s;
}

.header.on .header_wrap {
    height: 80px;
}

.header h1 a {
    display: block;
    width: 150px;
    height: 25px;
    background: url(../images/logo.on.png);
}

.header.on h1 a {
    background: url(../images/logo.png);
}

.header .gnb {
    margin-left: auto;
}

.header .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .gnb>ul>li>a {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
}

.header.on .gnb>ul>li>a {
    color: var(--text-color);
}

.main_visual {
    position: relative;
}

.main_visual .main_visual_slide .itm {
    height: calc(100vh - 104px);
    background-position: center center;
    background-size: cover;
}

.main_visual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual_01.jpg);
}

.main_visual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual_02.jpg);
}

.main_visual .main_visual_slide .itm03 {
    background-image: url(../images/main_visual_03.jpg);
}

.main_visual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);
    max-width: 1170px;
    width: 100%;
}

.main_visual .slg strong {
    display: block;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.main_visual .slg p {
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.main_visual .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;

    transform: translate(-50%, -50%);

    max-width: 1410px;
    width: 100%;
}

.main_visual .arrows button {
    position: absolute;
    top: 0;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}

.main_visual .arrows .prev {
    left: 0;
    transform: translate(0, -50%) rotate(-45deg);
}

.main_visual .arrows .next {
    right: 0;
    transform: translate(0, -50%) rotate(135deg);
}

.main_visual .scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translate(-40px, 0);
    width: 80px;
    height: 120px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main_visual .scroll::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;

    transform: translate(-50%, 32px);
    animation: wheel 2s infinite;
}

@keyframes wheel {
    0% {
        opacity: 1;
        transform: translate(-50%, 32px);
    }

    75% {
        opacity: 1;
        transform: translate(-50%, 116px);
    }

    100% {
        opacity: 0;
        transform: translate(-50%, 116px)scale(8);
    }
}

.main_visual .scroll::after {
    content: "";
    display: block;
    width: 1px;
    height: 88px;
    background: #fff;
    opacity: 0.5;
}

.main_visual .scroll span {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
}

.main_content .inner {
    display: flex;
    gap: 30px;
}

.main_content .inner>* {
    flex: 1;
}

.main_content .inner img {
    margin-bottom: 16px;
    width: 100%;
}

.footer {
    padding: 40px 0;
    background: #333;
}

.footer .customer {
    display: flex;
    gap: 40px;
    margin-bottom: 8px;
}

.footer .customer a {
    position: relative;
    color: #fff;
}

.footer .customer li~li a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    width: 1px;
    height: 0.5em;
    background: #fff;

    transform: translate(0, -50%);
}

.footer .customer a.b {
    color: tomato;
    font-weight: 700;
}

.footer p {
    color: #fff;
    margin-bottom: 16px;
}

.footer address {
    color: #fff;
}